.card-custom {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-custom:hover {
    transform: translateX(20px);
}

.card-custom:hover ~ .card-custom {
    transform: translateX(60px);
}

.h4-first {
    background-color: blue;
}

.h4-other {
    background-color: red;
}